<h1>Edit your post</h1>

<form action="<%= post_url %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <%= auth_token %>

  <% Sub.all.each do |sub_reddit| %>
    <input type="hidden" name="post[sub_ids][]" value="">

    <label> <%= sub_reddit.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub_reddit.id %>" <%= "checked" if @post.sub_ids.include?(sub_reddit.id)%>>
     </label>
  <% end %>

  <textarea name="post[content]" rows="8" cols="80"><%= @post.content %>
  </textarea>

  <input type="submit" value="Edit Post">
</form>
